################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XPEducacao
/src/XPEdicacao.API/bin/Debug/net9.0
/src/XPEdicacao.API/obj
